body {
  font-family: "Shantell Sans", cursive;
  background: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  background-attachment: fixed;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

a {
  color: rgb(241, 221, 241);
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.5;
  color: #9944fe;
}

.form-container {
  padding: 25px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
  margin-bottom: 30px;
}

form {
  display: flex;
}

.example {
  line-height: 1.5;
  margin-top: 10px;
  opacity: 0.8;
  font-size: 14px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 20px;
  line-height: 20px;
  color: #272044;
}

.recipe {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #885df1;
  box-shadow: 0px 4px 39px 0px rgba(39, 33, 66, 0.03);
}

.hidden {
  display: none;
}

.recipe strong {
  color: #885df1;
}

.submit-button {
  margin-left: 10px;
  background: #9944fe;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
  transition: all 200ms ease-in-out;
}

.submit-button:hover {
  color: white;
  background-color: #b8a3ee;
  cursor: pointer;
  border: 1px solid #885df1;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  color: antiquewhite;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
